@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html, body {
    width: 100%;
    height: auto;
}
body {
    font-family: raleway,Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #eff4ff !important;
    background: #000000 linear-gradient(to right,#000000,#000000 );
    overflow-x: hidden;
}

#rQuote {
    -webkit-transition: opacity .9s ease-in-out;
    -moz-transition: opacity .9s ease-in-out;
    -ms-transition: opacity .9s ease-in-out;
    -o-transition: opacity .9s ease-in-out;
    transition: opacity .9s ease-in-out;
    font-size: 6vw;
}

.banner-nav-img {
    /* The image used */
    background-image: linear-gradient(#000000, transparent, #000000), url("../images/20_edited.jpg");
    /* Set a specific height */
    margin-top: 40px;
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner-nav-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Noto Sans', sans-serif !important;
    min-width: 90%;
    text-shadow: 0px 0px 15px black;
}

.module {
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%;
    background-size: 1.25em 1.25em, 1.25em 1.25em, 1.25em 1.25em, 1.25em 1.25em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 40 40%22%3E%3Cpolygon points=%2240 0 8 0 0 0 0 8 0 40 8 40 8 8 40 8 40 0%22 fill=%22white%22 %2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 40 40%22%3E%3Cpolygon points=%2240 0 8 0 0 0 0 8 0 40 8 40 8 8 40 8 40 0%22 fill=%22white%22 transform=%22translate(40, 0) rotate(90)%22 %2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 40 40%22%3E%3Cpolygon points=%2240 0 8 0 0 0 0 8 0 40 8 40 8 8 40 8 40 0%22 fill=%22white%22 transform=%22translate(40, 40) rotate(180)%22 %2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 40 40%22%3E%3Cpolygon points=%2240 0 8 0 0 0 0 8 0 40 8 40 8 8 40 8 40 0%22 fill=%22white%22 transform=%22translate(0, 40) rotate(270)%22 %2F%3E%3C%2Fsvg%3E");
}
.scrolldownarrow {
    position: absolute;
    transform: translateX(-50%) translateY(-200%);
    bottom: 0;
    left: 50%;
    font-size: 30px;
}

hr {
    width: 100%;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: 1px solid #eee;
}

a:visited {
    color: #FFFFFF !important;
}

a:hover{
    text-decoration: none;
}


#navicon{
  float: left;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
}

.left{
    float: left;
}

.right {
    float: right;
}

#navicon {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 21px;
}

#navicon b{
  font-weight: 700;
}

.navbar {
  padding-bottom: 15px;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-inverse{
  background: 0 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 60px;
}

.btn-pos {
    float: right;
    margin: 10px;
}

.hz-nav li a {
    text-decoration: none;
    color: #eff4ff !important;
    display: block;
    padding: 10px;
    text-align: center;
}

.hz-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.hz-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hz-nav i {
    padding-right: 5px !important;
}

.hz-nav a:hover {
    color: #2889ff !important;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    animation: breathing 3s linear infinite;
}

.cz-nav li a {
    text-decoration: none;
    color: #eff4ff !important;
    padding: 10px;
    text-align: center;
}

.cz-nav li {
    padding-left: 5px;
    padding-right: 5px;
    padding: 20px;
}

.cz-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cz-nav i {
    padding-right: 5px !important;
}

.cz-nav a:hover {
    color: #2889ff !important;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    animation: breathing 3s linear infinite;
}

@-webkit-keyframes breathing {
    0% {
        -moz-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        -webkit-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        text-shadow: 0px 0px 1px rgb(40, 137, 255);
    }

    50% {
        -moz-text-shadow: 0px 0px 25px rgb(40, 137, 255);
        -webkit-text-shadow: 0px 0px 25px rgb(40, 137, 255);
        text-shadow: 0px 0px 25px rgb(40, 137, 255);
    }

    100% {
        -moz-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        -webkit-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        text-shadow: 0px 0px 1px rgb(40, 137, 255);
    }
}

@-webkit-keyframes breathingwhite {
    0% {
        -moz-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        -webkit-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }

    50% {
        -moz-text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
        -webkit-text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
        text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
    }

    100% {
        -moz-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        -webkit-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    background: rgba(0,0,0, 0.8) !important;
    z-index: 3 !important;
    transition: 0.5s background;
}

.stickyfirst {
    position: fixed;
    top: 0;
    background: rgba(0,0,0, 0);
    transition: 0.5s background;
    width: 100%;
    z-index: 3;
}

.clickstickyfirst {
    background: rgba(0,0,0, 0.8) !important;
    transition: 0.5s background;
}

.marginextra {
    margin-top: 100px !important;
}

.marginextras {
    margin-top: 146px !important;
}

.fixed-nav-img img {
    position: absolute;
    z-index: -100;
    transition: 1s opacity;
    opacity: 0.8;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.bgoof {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%) scale(1.1);
    background-size: cover;
    transition: 1s opacity;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.2;
}

.animationdelay1s{
    animation-delay: 1s;
}

.animationdelay2s {
    animation-delay: 2s;
}
#gradient {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

#particles-js {
    position: absolute;
    height: 356px;
    min-width: 100% !important;
    opacity: 0.8;
    white-space: nowrap;
}
/*Driver Support*/
.downloaddriver {
    transform: scale(1);
    margin-top: 150px;
}

.driverss {
    margin-top: 110px;
}

.navigation {
    display: block;
}

.dropnavigation {
    display: none;
}

@media only screen and (max-width: 991px) {
    .downloaddriver {
        transform: scale(0.8);
        margin-top: 100px;
    }

    .navigation {
        display: none;
    }

    .dropnavigation {
        display: inline-flex;
    }

    #rQuote {
        font-size: 8vw;
    }
}

@media only screen and (max-width: 767px) {

    .downloaddriver {
        transform: scale(0.8);
        margin-top: 100px;
    }

    .driverss {
        margin-top: 10px;
    }

    #particles-js {
        height: 523px;
    }

    #rQuote {
        font-size: 10vw;
    }

}

.keypadall img{
    width: 70%;
    height: auto;
}

#tracking_number {
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0, 0.4) !important;
    border: 1.5px solid #2889ff;
    border-radius: 4px;
}

#tracker_button {
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0, 0.4) !important;
    transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    border: 1.5px solid #2889ff;
    border-radius: 4px;
}

    #tracker_button:hover {
        background: rgba(0,0,0, 0.2) !important;
        transition: background 0.3s ease;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
    }

.table, .table tr th, .table tr td {
    border: 1px solid #000000;
    color: white;
    text-align: center;
}

.table {
    border-collapse: collapse;
}

#contact_button {
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0, 0.4) !important;
    transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    border: 1.5px solid #2889ff;
    border-radius: 4px;
    width: 90%;
    margin: 5px;
    text-decoration: none;
}

    #contact_button:hover {
        background: rgba(0,0,0, 0.2) !important;
        transition: background 0.3s ease;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
    }

.productcolum {
    width: 350px;
    height: 500px;
    background: rgba(0,0,0, 0.8);
    margin: 10px;
    border-radius: 20px;
}
.productcolum img {
    border-radius: 20px 20px 0px 0px;
}

.hovertext {
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    background-color: rgba(25,25,25, 1) !important;
    border-radius: 5px;
    padding: 10px;
    visibility:hidden;
}

#flag:hover ~ .hovertext {
    visibility: visible;
}

.hovertext2 {
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    background-color: rgba(25,25,25, 1) !important;
    border-radius: 5px;
    padding: 10px;
    visibility: hidden;
}

#flag2:hover ~ .hovertext2 {
    visibility: visible;
}

.changecountrytab img {
    height: 13px;
    margin: 5px;
}

.changecountrytab a {
    margin: 5px;
    font-size: 13px !important;
}

.changecountrytab {
    margin: 2px;
}

    .changecountrytab a:hover {
        text-decoration:underline !important;
        cursor: pointer;
    }

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}