@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: raleway,Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #eff4ff !important;
    background: #000000 linear-gradient(to right,#000000,#000000 );
    overflow-x: hidden;
}

.banner-nav-img {
    /* The image used */
    background-image: url('https://steve2312.github.io/antecer/1.jpg');
    /* Full height */
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    width: 100%;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: 1px solid #eee;
}

a:visited {
    color: #eff4ff !important;
}


#navicon{
  float: left;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
}

.left{
    float: left;
}

.right {
    float: right;
}

#navicon{
  text-decoration: none;
  color: #FF0092;
  font-size: 21px;
}

#navicon b{
  font-weight: 700;
}

.navbar {
  padding-bottom: 15px;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-inverse{
  background: 0 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 60px;
}

.btn-pos {
    float: right;
    margin: 10px;
}

.hz-nav li a {
    text-decoration: none;
    color: #eff4ff !important;
    display: block;
    padding: 10px;
    text-align: center;
}

.hz-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.hz-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hz-nav i {
    padding-right: 5px !important;
}

.hz-nav a:hover {
    color: #2889ff !important;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    animation: breathing 3s linear infinite;
}

@-webkit-keyframes breathing {
    0% {
        -moz-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        -webkit-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        text-shadow: 0px 0px 1px rgb(40, 137, 255);
    }

    50% {
        -moz-text-shadow: 0px 0px 25px rgb(40, 137, 255);
        -webkit-text-shadow: 0px 0px 25px rgb(40, 137, 255);
        text-shadow: 0px 0px 25px rgb(40, 137, 255);
    }

    100% {
        -moz-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        -webkit-text-shadow: 0px 0px 1px rgb(40, 137, 255);
        text-shadow: 0px 0px 1px rgb(40, 137, 255);
    }
}

@-webkit-keyframes breathingwhite {
    0% {
        -moz-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        -webkit-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }

    50% {
        -moz-text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
        -webkit-text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
        text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.1);
    }

    100% {
        -moz-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        -webkit-text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
}

.sticky {
    position: fixed !important;
    width: 100% !important;
    background: rgba(0,0,0, 0.8) !important;
    z-index: 3 !important;
    transition: 0.5s background;
}

.stickyfirst {
    position: fixed;
    background: rgba(0,0,0, 0);
    transition: 0.5s background;
    width: 100%;
    z-index: 3;
}

.marginextra {
    margin-top: 100px !important;
}

.marginextras {
    margin-top: 146px !important;
}

.fixed-nav-img img {
    position: absolute;
    z-index: -100;
    transition: 1s opacity;
    opacity: 0.8;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.bgoof {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%) scale(1.1);
    background-size: cover;
    transition: 1s opacity;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.1;
}

.animationdelay1s{
    animation-delay: 1s;
}

.animationdelay2s {
    animation-delay: 2s;
}
#gradient {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.logo {
    width: 90%;
}

.marginamusingtext {
    margin-top: 250px;
}

@media only screen and (max-width: 1900px) {
    .logo {
        width: 90%;
    }

    .marginamusingtext {
        margin-top: 250px;
    }
}

@media only screen and (max-width: 1601px) {
    .logo {
        width: 80%;
    }

    .marginamusingtext {
        margin-top: 200px;
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1300px) {
    .logo {
        width: 70%;
    }

    .marginamusingtext {
        margin-top: 200px;
        transform: scale(0.9);
    }
}

@media (height: 720px) and (width: 1280px) {
    .logo {
        width: 60%;
    }

    .marginamusingtext {
        margin-top: 150px;
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 1100px) {
    .logo {
        width: 70%;
    }

    .marginamusingtext {
        margin-top: 110px;
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 700px) {
    .logo {
        width: 50%;
    }

    .marginamusingtext {
        margin-top: 50px;
        transform: scale(0.8);
    }
}

.keypadall img{
    width: 70%;
    height: auto;
}

#tracking_number {
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0, 0.4) !important;
    border: 1.5px solid #2889ff;
    border-radius: 4px;
}

#tracker_button {
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0, 0.4) !important;
    transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    border: 1.5px solid #2889ff;
    border-radius: 4px;
}

    #tracker_button:hover {
        background: rgba(0,0,0, 0.2) !important;
        transition: background 0.3s ease;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
    }
