body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font: 12pt "Tahoma"; /*设置字体大小*/
}
.page {/*模拟A4打印纸*/
	width: 210mm; /*纸张宽度*/
	min-height: 297mm; /*纸张高度*/
	padding: 10mm; /*物理打印边距*/
	margin: 10mm auto; /*分页之间的显示间隔距离*/
	background: #FFF; /*模拟纸张颜色*/
	outline: 0.1mm #D3D3D3 solid; /*模拟纸张边沿*/
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);/*添加阴影使模拟的纸张看起来更逼真*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.page>.content {/*模拟打印内容区域*/
	position: relative;
	/* padding: 10mm; */ /*页边距*/
	height: 277mm; /*内容高度,默认自动*/
	outline: 0.1mm #AAA solid; /*打印边框,不占内容区域*/
	overflow: hidden; /*禁止内容超过容器*/
}
.page>.content>*{
	position: absolute;
}

.menu {
	position: fixed;
	right: 20px;
	bottom: 10px;
	width: 120px;
	height: auto;
	display: flex;
	flex-flow: column;
}
.menu>*{
	margin: 5px;
}
#tips {
	position: fixed;
	left: 10px;
	bottom: 10px;
}

@page {
	size: A4;
	margin: 0;
}
@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}
	body>*{
		top: -1000cm;
	}
	.page {
		margin: 0;
		top: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
	.page>.content{
		outline: initial; /*隐藏打印边框*/
	}
}